* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  src: url(../fonts/Nunito-Regular.ttf) format("truetype");
  font-family: "Nunito";
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #d8d8d8;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 10px;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

input,
select,
textarea {
  box-sizing: border-box;
}

/* Form Login */
.form-wrapper {
  text-align: center;
}

.form-group {
  background-color: #ffffff;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.form-label {
  margin-right: 10px;
}

.form-control {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  transition: 0.2s;
  font-weight: 400;
  font-size: 16px;
}

.form-control[type="file"] {
  background-color: #ffffff;
}

.form-control:focus {
  border: 1px solid #addeca;
  box-shadow: 0 0 1px 3px #addeca;
}

.form-select {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  transition: 0.2s;
  font-weight: 400;
  font-size: 16px;
}

.btn {
  background-color: inherit;
  border: 1px solid #0000ff;
  color: #0000ff;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px;
}

.btn:hover {
  color: #ffffff;
  background-color: #0000ff;
}

.circle {
  border-radius: 50%;
}

.alert {
  margin-bottom: 10px;
}

.danger {
  background-color: #ff0000;
}

.success {
  background-color: #90ee90;
}

/* Navbar */

.navbar-wrapper {
  background-color: #6a5acd;
  color: #dff0fd;
}

.navbar-wrapper > .container {
  padding: 10px 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  line-height: 50px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav li {
  display: inline-block;
  margin-left: 20px;
}

.nav li a {
  color: inherit;
  transition: 0.3s;
}

.nav li a:visited {
  color: inherit;
}

.nav li a:hover {
  color: #4b4b4b;
}

/* Dashboard wrapper */
.dashboard-wrapper {
  text-align: center;
  margin-top: 30px;
}
.dashboard-wrapper > .container {
  background-color: #ffffff;

  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 2px 2px rgba(0, 0, 200, 0.6);
}

.user-image {
  border-radius: 50%;
  width: 25%;
  margin-bottom: 15px;
  box-shadow: 0 0 1px 3px rgba(219, 142, 255, 0.8);
}

.detail table {
  margin: 0 auto;
  border: 2px solid #4b4b4b;
  padding: 7px;
  border-radius: 2px;
}

.detail table tr td {
  border-bottom: 1px solid #4b4b4b;
  text-align: start;
}

.edit-profile {
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Topbar wrapper */
.topbar {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  text-align: center;
  padding: 8px;
  justify-content: space-around;
  border-radius: 7px 7px 0 0;
}

.topbar-wrapper > .container {
  padding-bottom: 0;
}

.top-item {
  flex: 1;
  border-right: 1px solid #000000;
}

.top-item:last-child {
  border: none;
}

/* Calendar wrapper */

.calendar-wrapper > .container {
  padding-top: 0;
}
.calendar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding-top: 10px;
  border-top: 1px solid #000000;
}

.cal-nav {
  font-size: 20px;
  font-weight: bold;
}

.calendar {
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
}

.calendar-days {
  width: 90%;
}

.calendar-days tr th {
  width: 14.28571428571429%;
}

.calendar-body {
  width: 90%;
}

.calendar-body tr td {
  border: 1px solid #808080;
  padding-bottom: 75px;
}

.today {
  background-color: rgb(135, 206, 255);
}

/* Form pinjam Ruang */

.form-table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1em;
}

.form-wrapper > .container {
  background-color: #ffffff;
  box-sizing: border-box;
  border-top: 1px solid #000000;
}

.form-table tr {
  border-bottom: 1px solid #808080;
}

.form-table tr td {
  text-align: start;
}
